* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

li.home {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    display: inline;
    list-style-type: none;
}

button {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-size: smaller;
}

.buttonhome {
    border: 1px solid black;
    border-radius: 70px;
    text-align: center;
    padding: 10px;
    flex: .5;
    margin: 5px;
    max-width: 210px;
}

.button {
    border: 1px solid black;
    border-radius: 70px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 3px;
    background-color: white;
}

.aboutp {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;

}

.projects-container {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 26px;
}

.h2home {
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

h2 {
    font-size: 26px;
    padding: 5px;
    text-align: left;
}

h3 {
    font-size: 18px;
    text-align: left;
    padding: 5px;
}

p {
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    flex-wrap: wrap;
    padding: 5px;
}

.hero-bold {
    color: #FF7300;
}

.doodle {
  width: 90%;
  height: -40%;
  max-width: 400px;
}

.content-container {
    display: flex;
    flex-direction: column;
    /* flex: 2; */
}

.nav-buttons-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 35px;
    margin-top: 40px;
}

.nav-buttons {
    margin-right: 35px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-right: 37px;
}

/* .icon {
    margin-left: 40px;
    margin-top: 35px;
    text-align: center;
}

.icon-size {
    width: 30px;
    margin-left: 30px;

} */

.icon {
    padding: 30px;
}

.icon-size {
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.project-box {
    text-align: center;;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

#title-bold {
    font-weight: 900;
    color: orangered;
}

.project {
    width: 85%;
    /* padding: 5px; */
}

.project-links, .project-tech {
    text-align: center;
}

.contact-content a:link {
    color: orange;
}

.contact-content a:visited {
    color: orangered;
}

.contactp {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 496px) {

    .content-container {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

}


/* for desktop */
@media (min-width: 768px) {


    main {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        height: 1000px;
    }
    .ultimate-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 10px solid whitesmoke;
        margin-left: auto;
        margin-right: auto;
    }

    .img-container {
        flex: 1;
    }

    .doodle {
        width: 120%;
        margin-left: 50px;
        margin-bottom: 85px;
        margin-top: 30px;
      }


    .projects-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: auto;
        flex: 1;
        width: 50%;
    }

    .copy-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: auto;
        flex: 1;
        width: 50%;
    }

    /* .projects-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        flex: 1;
    } */
    
    .break {
        flex-basis: 100%;
        height: 25px;
    }

    .project-box {
        display: inline;
    }

    .one, .three {
        margin-left: 50px;
    }


    .abouth2 {
        margin-left: 175px;
        font-size: 36px;

    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
        width: 400px;
        line-height: 1.4;
        text-align: justify;
        margin-left: 175px;
    }

    
    label {
        /* margin-left: 50px; */
    }
    .contacth2 {
        text-align: left;
        color: purple
    }
}

@media (min-width: 981px) {

    .ultimate-container {
        width: 940px;
    }

    .content-container {
        margin-left: auto;
        margin-right: auto;
    }

    

    .img-container {
        width: 420px;

    }
    .doodle {
        width: 200%;
    }
}